# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.idea/.name
.idea/dictionaries/mhaugen.xml
.idea/dictionaries/mm.xml
.idea/ember-inline-svg.iml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLibraryMappings.xml
.idea/jsLinters/eslint.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
