<h2 id='title'>ember-inline-svg</h2>

<ul>
    <li>{{#link-to "class"}}Additional class{{/link-to}}</li>
    <li>{{#link-to "extension"}}With extension{{/link-to}}</li>
    <li>{{#link-to "root"}}In root of the directory{{/link-to}}</li>
    <li>{{#link-to "subdirectory"}}In subdirectory{{/link-to}}</li>
</ul>


{{outlet}}
